<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eyesfly.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.eyesfly.entity.Role" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="IS_AVAILABLE" property="isAvailable" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROLE_NAME, DESCRIPTION, IS_AVAILABLE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ROLE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from SYS_ROLE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.eyesfly.entity.Role" >
    insert into SYS_ROLE (ID, ROLE_NAME, DESCRIPTION, 
      IS_AVAILABLE)
    values (#{id,jdbcType=DECIMAL}, #{roleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{isAvailable,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eyesfly.entity.Role" >
    insert into SYS_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roleName != null" >
        ROLE_NAME,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="isAvailable != null" >
        IS_AVAILABLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isAvailable != null" >
        #{isAvailable,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.eyesfly.entity.Role" >
    update SYS_ROLE
    <set >
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isAvailable != null" >
        IS_AVAILABLE = #{isAvailable,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eyesfly.entity.Role" >
    update SYS_ROLE
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      IS_AVAILABLE = #{isAvailable,jdbcType=CHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <select id="findRoles" resultType="java.lang.String" parameterType="java.lang.String">
        select role.role_name rname from sys_role_user ruser
        left join sys_role role on role.id = ruser.role_id
        left join sys_user us on us.id = ruser.user_id where us.username = #{username,jdbcType=VARCHAR}
  </select>
</mapper>